<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <p class="footer-msg">
                    Copyright © 2019 Togán Labs
                </p>
                <p class="footer-msg">
                    <a href="https://www.toganlabs.com/privacy-policy/">
                        Privacy Policy
                    </a>
                </p>
            </div>
            <div class="col-lg-4">
                <div class="footer-logo">
                    <a href="https://www.toganlabs.com">
                        <img src="/assets/toganlabs.png" height="48">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
