body {
    padding-top: 54px;
}
  
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.navbar-light {
    background: #e3f2fd;
}

.footer-msg {
    font-size: 75%;
}

.footer-logo {
    width: 100%;
    text-align: right;
}

.icon-hover a:hover {
    color: #0040a0 !important;
}

h1 {
    text-align: center;
}

h2 {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

ul {
    padding-bottom: 1.4em;
}

.navbar ul {
    padding-top: 0;
    padding-bottom: 0;
}
