<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navbar.html %}
    {% include content.html %}
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>
