---
layout: default
---

<div class="row my-4">
    <div class="col-md-2"></div>
    <div class="col-md-8 page-content">
        {{ content | toc }}
    </div>
    <div class="col-md-2"></div>
</div>
